/* .bg {
  background-image: url('/client/src/Capture\ d\'écran\ 2025-05-22\ 022930.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  min-height: 100vh;
 background-color: azure;
}  */

body {

    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./jadaraapp.png");

}